.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.close-btn {
    float: right;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.red-note {
    color: white; /* Text color */
    background-color: red; /* Background color */
    padding: 10px; /* Padding inside the note */
    margin: 10px 0; /* Margin around the note */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
    font-weight: bold; /* Make the font bold */
}